.rst-content code.literal, .rst-content tt.literal {
    color:#2980B9;
    font-weight: bold;
}    

.wy-nav-content {
    max-width: none;
}

.makevar {
    color:white;
    background: grey;
    padding: 2px;
    font-weight: 100;
    font-size: 0.8em;
    /*border-radius: 8px;*/
}    

