/*

Nothing defined here. The Hugo project that uses this theme can override Bootstrap by adding a file to:

assets/scss/_styles_project.scss 

*/

/* ----- BEGIN Logo style ----- /*
/* Ensures the logo is aligned correctly. Default is middle which with the new CAST logo doesn't work */

.td-navbar .navbar-brand svg {
    vertical-align: top;
}

/* ----- END Logo style ----- */

/* ----- BEGIN Navbar style ----- */
/* Override default navbar color */

.td-navbar {
  background-color: #1E212D;
}


/* ----- END Navbar style ----- */

/* ----- BEGIN Landing Page Style ----- */
/* Defines a custom style "card-home" (same as default "card") but adds "transition" and "cursor" */

.card-home {
  --bs-card-spacer-y: 1rem;
  --bs-card-spacer-x: 1rem;
  --bs-card-title-spacer-y: 0.5rem;
  --bs-card-border-width: 1px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-box-shadow: ;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-cap-padding-y: 0.5rem;
  --bs-card-cap-padding-x: 1rem;
  --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
  --bs-card-cap-color: ;
  --bs-card-height: ;
  --bs-card-color: ;
  --bs-card-bg: #fff;
  --bs-card-img-overlay-padding: 1rem;
  --bs-card-group-margin: 0.75rem;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  height: var(--bs-card-height);
  word-wrap: break-word;
  background-color: var(--bs-card-bg);
  background-clip: border-box;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  box-shadow: var(--bs-card-box-shadow);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  cursor: pointer;
}

/* Adds specific hover styling effect to tiles on the landing page under custom "card-home" style */

.card-home:hover {
  transform: scale(1.05);
}

/* Ensures the text in the custom "card-home" tiles is black - defaults to white otherwise (same as card-body) */

.card-home-text {
  color: #000;
  margin-top: 20px;
  font-weight: 500;
}

/* Ensures that the tiles on the landing page do not contain underlined links (due to upgrade to Docsy 0.9.0 where underlined links are the default */

.no-underline a {
  text-decoration: none;
}

/* ----- END Landing page style ----- */

/* ----- BEGIN docs layout style ----- */
/* Set table style */

th, td {
  border: 1px solid;
  border-color: $border-color;
  border-radius: 5px;
}

/* Set table head colour */

thead {
  background-color: #f2f2f2;
}

/* Remove striped rows in tables */

.td-content table:not(.td-initial) {
  --bs-table-striped-bg: transparent;
}

/* Set style for ">" style in markdown */

.td-content blockquote {
  padding: 1rem 1rem 0.5rem 1rem;
  background-color:#E5F2FC;
  /*color: var(--bs-body-color);*/
  border-left: 6px solid #1d63ed;
}

/* Set style for images: provide a border */

.td-content img {
  border: 1px solid #808080;
  border-radius: 5px;
}


/* Class for images that do not need a border */
.no-border {
  border: 0px !important;
}

/* ----- END docs layout style ----- */

/* ----- BEGIN content width on large screens ----- */

/* Set general content width */

@media (min-width: 992px) {
.td-max-width-on-larger-screens, .td-card.card, .td-content .td-card.highlight, .td-card-group.card-group, .td-content > .tab-content .tab-pane, .td-content .footnotes, .td-content > .alert, .td-content > .highlight, .td-content > .lead, .td-content > .td-table, .td-box .td-content > table, .td-content > table, .td-content > blockquote, .td-content > dl dd, .td-content > h1, .td-content > .h1, .td-content > h2, .td-content > .h2, .td-content > ol, .td-content > p, .td-content > pre, .td-content > ul {
    max-width: 100%; //overides default 80% width
    padding-right: 30px; //adds padding to the right to match default on left
  }
}

/* Set overrides: width for code highlight blocks, tab pane headers, ul */
@media (min-width: 992px) {
  .td-content > .highlight, .td-content > .tab-content .tab-pane, .td-content > ul {
    padding-right: 0px; //overrides the 30px set previously (see above)
    margin-right: 30px; //adds margin to the box to match default on left
  }
}

/* Set overrides: width for blockquotes */
@media (min-width: 992px) {
  .td-content > blockquote {
    margin-right: 30px; //adds margin to the box to match default on left
  }
}

/* Set overrides: width for card headers */
@media (min-width: 992px) {
  .td-card.card {
    padding-right: 0px; //overrides the 30px set previously (see above)
  }
}

/* Set overrides: width for alerts */
@media (min-width: 992px) {
  .alert {
    max-width: 97.5% !important;
  }
}

/* Set overrides: width for Docsy line at top of page */
.section-index .panel-line {
  margin-right: 30px;
}

/* Set width for standard hr line */
hr {
  max-width: 98%;
}  

/* END content width on large screens */

/* ----- BEGIN content width on small screens ----- */

/* Set cardpane content width for mobiles */

@media (max-width: 576px) {
  .td-card.card {
    margin-right: 0 !important;
  }
}

/* END content width on small screens */

/* ----- BEGIN styling for Algolia search box ----- */

.DocSearch-Button {
  margin-right: auto !important;
  margin-left: auto !important;
  width: 300px !important;
  border-radius: 5px !important;
}

/* END styling for Algolia search box */

/* ----- BEGIN styling for Docsy alert shortcodes ----- */

.alert {
   border-radius: 5px;
}

/* Note that border-color for "info" notes is defined with a variable in "_variables_project.scss" */
.alert-info {
  border-width: 0px 0px 0px 5px;
  background: #e5f2fc;
}

.alert-info .alert-heading {
  color: var(--bs-body-color)
}

.alert-warning {
  border-width: 0px 0px 0px 5px;
  background: #fbe1de;
}

.alert-warning .alert-heading {
  color: var(--bs-body-color)
}

.alert-beta {
  border-width: 0px 0px 0px 5px;
  background: #f0ea98;
}

.alert-beta .alert-heading {
  color: var(--bs-body-color)
}

/* END styling for Docsy alert shortcodes */
