<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-2">
          </aside>
          <main class="col-12 col-md-8" role="main"> 
            <h1 class="text-center" style="max-width: 100%; font-weight: 700; margin-bottom: 1rem;">CAST Technology Extension Documentation</h1>
            <div class="mx-auto" style="max-width: 50%;!important">
              {{ partialCached "search-input.html" . }}
              <br>
              <br>
              <h2 class="text-center">Choose the documentation you require:</h2>
              <br>
              <p class="text-center">Most recent releases: <a href="https://doc.castsoftware.com/technologies">https://doc.castsoftware.com/technologies</a></p>
              <p class="text-center">HTML archive of previous releases: <a href="https://doc.castsoftware.com/export/TECHNOS">https://doc.castsoftware.com/export/TECHNOS</a></p>
            </div>
            {{ block "main" . }}{{ end }}
          </main>
          <aside class="col-12 col-md-2">
          </aside>
        </div>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
