<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-2">
          </aside>
          <main class="col-12 col-md-8" role="main">
            <!--<p class="p-2 mt-3 text-center" style="max-width: 100%; background-color: #f5efbf; border: 1px; border-radius: 5px;">We are in the process of building a new documentation website and while we add new content, you can find our existing CAST Imaging "v2" documentation here: <a href="../export/" target="_blank" rel="noopener">doc.castsoftware.com/export/</a>.</p>--> 
            <h1 class="text-center" style="max-width: 100%; font-weight: 700; margin-bottom: 1rem;">CAST Imaging v3 Documentation</h1>
            <!--<div class="mx-auto" style="max-width: 50%;!important">-->
            <div class="mx-auto">
              {{ partial "search-input.html" . }}
            </div>
            {{ block "main" . }}{{ end }}
          </main>
          <aside class="col-12 col-md-2">
          </aside>
        </div>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
