<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-2">
          </aside>
          <main class="col-12 col-md-8" role="main"> 
            <h1 class="text-center" style="max-width: 100%; font-weight: 700; margin-bottom: 1rem;">CAST Imaging v2 Documentation</h1>
            <div class="mx-auto" style="max-width: 75%;!important">
              <br>
              <br>
              <h3 class="text-center">Below you can find links to our CAST Imaging "v2" documentation:</h2>
              <br>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/IMAGING/">CAST Imaging</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/AIPCONSOLE/">CAST AIP Console</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/DASHBOARDS/">CAST Dashboards</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/ONBRD/">Application Onboarding</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/TECHNOS/">CAST Technologies</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/SIZING/">Hardware Sizing</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/STORAGE/">Storage</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/AIPCORE/">AIP Core</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/DOCCOM/">CAST Components</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/EXTEND/">CAST Extend</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/FBP/">Field Best Practices</a>
              <p class="text-center"><a href="https://doc.castsoftware.com/export/SECURITY/">CAST Security Dashboard</a>
              <br><br>
              <p class="text-center">You can also access the <a href="https://doc.castsoftware.com/export/TG/">CAST Troubleshooting Guides</a>.
            </div>
            {{ block "main" . }}{{ end }}
          </main>
          <aside class="col-12 col-md-2">
          </aside>
        </div>
      </div>
      {{ partialCached "footer.html" . }}
    </div>
    {{ partialCached "scripts.html" . }}
  </body>
</html>
